html, body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: rgb(24,28,52);
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

hr { 
  border-style: inset;
  border-width: 1px;
} 

h2{
  color: rgb(98,178,98);
  font-size: 30pt;
}

a:hover{
  color: transparent;
}

.container-fluid {
  padding: 0px;
}

.resize_fit_center {
  width: 100%;
  max-height:100%;
  vertical-align: middle;
}

.loader{
  transform: scale(2);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
}

.animate-bottom {
  animation-name: animatebottom;
  animation-duration: 1s
}

#preloader{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(24,28,52); 
  z-index: 9998;
}

@keyframes animatebottom { 
  from{
    transform: translateY(100px); 
    opacity:0; 
  } 
  to{
    transform: translateY(0px);
    opacity:1; 
  }
}

/* ***********************************************************
CONTENT ONLY
*********************************************************** */

.profile-pic{
  height: 500px;
  border-radius: 20px;
  box-shadow: 6px 8px 18px rgb(30,30,30);
  padding: 10px;
  margin-bottom: 40pt;
}

.profile-pic h3{
  color: black;
}

.profile-pic h4{
  color: grey;
}

.profile-pic h5{
  font-size: 11pt;
  color: rgb(30,30,30);
}
.text-content{
  text-align: justify;
  font-size: 12pt;
}

.just_content{
  background: white;
  margin-bottom: 40pt;
  color: rgb(24,28,52);
}

.txt-surr{
  color: grey;
  border-top: solid rgba(98,178,98,0.1);
  border-bottom: solid rgba(98,178,98,0.1);
  margin-bottom: 80px;
  border-width: 20px;
}

.prj-img p{
  font-size: 20pt;
}

#selfie{
  width: 25%;
}

@media screen and (max-width: 800px) {

  .img-within{
    transform: scale(0.5);
  }

  .profile-pic h3, .profile-pic h4, .profile-pic h5{
    font-size: 11pt;
  }

  .profile-pic{
    left: 10%;
    width: 80%;
  }
}

/* ***********************************************************
Aquí empieza el uso de propiedad ajena de uso libre, tomada de
https://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates
para el template del footer y https://github.com/ConnorAtherton/loaders.css
para los preloaders de cada página cargada. 
Todo el código distinto a estos
elementos mencionados es propiedad de Santiago Múnera. Adicionalmente, algunas
imágenes y demás contenido multimedia es igualmente propiedad de Santiago Múnera.
Otros archivos son de uso público y permiten la distribución tanto comercial como
no comercial de los mismos. 
*********************************************************** */

#the-footer{
 color: white;
 margin-top: 40pt;
 margin-bottom: 40pt;
}

#the-footer a{
 color: white;
}

.timeline{
  width: 50%;
  margin: auto;
}

.timeline h3{
  color: indianred;
}

.timeline p{

  border-top: 2px dashed;
  border-color: rgb(24,28,52) !important;
  margin:0; padding: 30px;
}

.timeline p:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px; 
  padding-right: 0;
}

.timeline p:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px; 
  padding-left: 0;
}

.timeline p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.timeline p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}